Typosquat(openSquat)/azuredeploy.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "title":  "",
        "description":  "",
        "prerequisites":  "",
        "postDeployment":  [
        ],
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "community",
            "armtemplate":  "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author":  {
            "name":  ""
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "Typosquat(openSquat)",
            "type":  "string"
        }
    },
    "variables":  {
        "AzureloganalyticsdatacollectorConnectionName":  "[concat('Azureloganalyticsdatacollector-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        }
                    },
                    "triggers":  {
                        "Recurrence_2":  {
                            "recurrence":  {
                                "frequency":  "Day",
                                "interval":  1,
                                "schedule":  {
                                    "hours":  [
                                        "13"
                                    ],
                                    "minutes":  [
                                        30
                                    ]
                                },
                                "timeZone":  "E. Africa Standard Time"
                            },
                            "evaluatedRecurrence":  {
                                "frequency":  "Day",
                                "interval":  1,
                                "schedule":  {
                                    "hours":  [
                                        "13"
                                    ],
                                    "minutes":  [
                                        30
                                    ]
                                },
                                "timeZone":  "E. Africa Standard Time"
                            },
                            "type":  "Recurrence"
                        }
                    },
                    "actions":  {
                        "Compose_2":  {
                            "runAfter":  {
                                "Parse_JSON_2":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Compose",
                            "inputs":  "@body('Parse_JSON_2')?['domains']"
                        },
                        "For_each":  {
                            "foreach":  "@body('Parse_JSON_2')?['domains']",
                            "actions":  {
                                "Compose":  {
                                    "runAfter":  {
                                        "Parse_JSON":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Compose",
                                    "inputs":  {
                                        "Domains":  "@{items('For_each')}",
                                        "Odata":  "@{body('Parse_JSON')?['@odata.context']}",
                                        "Score":  "@{body('Parse_JSON')?['score']}",
                                        "classification":  "@{body('Parse_JSON')?['classification']}",
                                        "rules":  "@{body('Parse_JSON')?['rules']}"
                                    }
                                },
                                "Parse_JSON":  {
                                    "runAfter":  {
                                        "Run_Domains_against_Reputation_endpoint_for_MDTI":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "ParseJson",
                                    "inputs":  {
                                        "content":  "@body('Run_Domains_against_Reputation_endpoint_for_MDTI')",
                                        "schema":  {
                                            "properties":  {
                                                "@@odata.context":  {
                                                    "type":  "string"
                                                },
                                                "classification":  {
                                                    "type":  "string"
                                                },
                                                "rules":  {
                                                    "type":  "array"
                                                },
                                                "score":  {
                                                    "type":  "integer"
                                                }
                                            },
                                            "type":  "object"
                                        }
                                    }
                                },
                                "Run_Domains_against_Reputation_endpoint_for_MDTI":  {
                                    "runAfter":  {
                                    },
                                    "type":  "Http",
                                    "inputs":  {
                                        "method":  "GET",
                                        "uri":  "https://graph.microsoft.com/beta/security/threatIntelligence/hosts('@{items('For_each')}')/reputation"
                                    }
                                },
                                "Send_Data_to_Custom_Log_Table":  {
                                    "runAfter":  {
                                        "Compose":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "ApiConnection",
                                    "inputs":  {
                                        "body":  "@{outputs('Compose')}",
                                        "headers":  {
                                            "Log-Type":  "OpenSquatDomainsDaily"
                                        },
                                        "host":  {
                                            "connection":  {
                                                "name":  "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                            }
                                        },
                                        "method":  "post",
                                        "path":  "/api/logs"
                                    }
                                }
                            },
                            "runAfter":  {
                                "Compose_2":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Foreach"
                        },
                        "Parse_JSON_2":  {
                            "runAfter":  {
                                "Use_Open_Squat_to_get_daily_created_domains":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ParseJson",
                            "inputs":  {
                                "content":  "@body('Use_Open_Squat_to_get_daily_created_domains')",
                                "schema":  {
                                    "properties":  {
                                        "count":  {
                                            "type":  "integer"
                                        },
                                        "domains":  {
                                            "items":  {
                                                "type":  "string"
                                            },
                                            "type":  "array"
                                        },
                                        "keyword":  {
                                            "type":  "string"
                                        },
                                        "response":  {
                                            "type":  "string"
                                        }
                                    },
                                    "type":  "object"
                                }
                            }
                        },
                        "Use_Open_Squat_to_get_daily_created_domains":  {
                            "runAfter":  {
                            },
                            "type":  "Http",
                            "inputs":  {
                                "headers":  {
                                    "X-RapidAPI-Host":  "opensquat1.p.rapidapi.com",
                                    "X-RapidAPI-Key":  "b9980be463msh054166cd572d966p1b52bbjsn6afe6d943bcb"
                                },
                                "method":  "GET",
                                "uri":  "https://opensquat1.p.rapidapi.com/microsoft"
                            }
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "azureloganalyticsdatacollector":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('AzureloganalyticsdatacollectorConnectionName'))]",
                                "connectionName":  "[variables('AzureloganalyticsdatacollectorConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azureloganalyticsdatacollector')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "createddate":  "10/13/2022",
                "owner":  "sewasong",
                "hidden-SentinelTemplateName":  "Typosquat(openSquat)",
                "hidden-SentinelTemplateVersion":  "1.0"
            },
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('AzureloganalyticsdatacollectorConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('AzureloganalyticsdatacollectorConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('AzureloganalyticsdatacollectorConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azureloganalyticsdatacollector')]"
                }
            }
        }
    ]
}
