Typosquat(openSquat)/azuredeploy.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "title":  "",
        "description":  "",
        "prerequisites":  "",
        "postDeployment":  [
        ],
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "community",
            "armtemplate":  "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author":  {
            "name":  ""
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "TyposquatPlaybook",
            "type":  "string"
        }
    },
    "variables":  {
        "Office365ConnectionName":  "[concat('Office365-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        }
                    },
                    "triggers":  {
                        "Recurrence_2":  {
                            "recurrence":  {
                                "frequency":  "Day",
                                "interval":  1,
                                "schedule":  {
                                    "hours":  [
                                        "13"
                                    ],
                                    "minutes":  [
                                        30
                                    ]
                                },
                                "timeZone":  "E. Africa Standard Time"
                            },
                            "evaluatedRecurrence":  {
                                "frequency":  "Day",
                                "interval":  1,
                                "schedule":  {
                                    "hours":  [
                                        "13"
                                    ],
                                    "minutes":  [
                                        30
                                    ]
                                },
                                "timeZone":  "E. Africa Standard Time"
                            },
                            "type":  "Recurrence"
                        }
                    },
                    "actions":  {
                        "Compose_2":  {
                            "runAfter":  {
                                "Parse_JSON_2":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Compose",
                            "inputs":  "@body('Parse_JSON_2')?['domains']"
                        },
                        "Create_HTML_table":  {
                            "runAfter":  {
                                "For_each":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Table",
                            "inputs":  {
                                "format":  "HTML",
                                "from":  "@variables('Domainvariable')"
                            }
                        },
                        "For_each":  {
                            "foreach":  "@body('Parse_JSON_2')?['domains']",
                            "actions":  {
                                "Append_to_array_variable":  {
                                    "runAfter":  {
                                        "Compose":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "AppendToArrayVariable",
                                    "inputs":  {
                                        "name":  "Domainvariable",
                                        "value":  {
                                            "Classification":  "@{body('Parse_JSON')?['classification']}",
                                            "Domains":  "@{items('For_each')}",
                                            "Rules":  "@{body('Parse_JSON')?['rules']}",
                                            "Score":  "@{body('Parse_JSON')?['score']}"
                                        }
                                    }
                                },
                                "Compose":  {
                                    "runAfter":  {
                                        "Parse_JSON":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Compose",
                                    "inputs":  {
                                        "Domains":  "@{items('For_each')}",
                                        "Score":  "@{body('Parse_JSON')?['score']}",
                                        "classification":  "@{body('Parse_JSON')?['classification']}",
                                        "rules":  "@{body('Parse_JSON')?['rules']}"
                                    }
                                },
                                "Parse_JSON":  {
                                    "runAfter":  {
                                        "Run_Domains_against_Reputation_endpoint_for_MDTI":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "ParseJson",
                                    "inputs":  {
                                        "content":  "@body('Run_Domains_against_Reputation_endpoint_for_MDTI')",
                                        "schema":  {
                                            "properties":  {
                                                "@@odata.context":  {
                                                    "type":  "string"
                                                },
                                                "classification":  {
                                                    "type":  "string"
                                                },
                                                "rules":  {
                                                    "type":  "array"
                                                },
                                                "score":  {
                                                    "type":  "integer"
                                                }
                                            },
                                            "type":  "object"
                                        }
                                    }
                                },
                                "Run_Domains_against_Reputation_endpoint_for_MDTI":  {
                                    "runAfter":  {
                                    },
                                    "type":  "Http",
                                    "inputs":  {
                                        "authentication":  {
                                            "audience":  "https://graph.microsoft.com",
                                            "clientId":  "8d77d794-6a57-4e95-80f6-bf5dd8d3ae9e",
                                            "secret":  "eMm8Q~9h_9xFZEjVjRe.pPCA5aGI~1XOUlwiKaUR",
                                            "tenant":  "c55a9220-895f-44b4-92c5-5a054d4fbab6",
                                            "type":  "ActiveDirectoryOAuth"
                                        },
                                        "method":  "GET",
                                        "uri":  "https://graph.microsoft.com/beta/security/threatIntelligence/hosts('@{items('For_each')}')/reputation"
                                    }
                                }
                            },
                            "runAfter":  {
                                "Compose_2":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Foreach"
                        },
                        "Initialize_summary_":  {
                            "runAfter":  {
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "Domainvariable",
                                        "type":  "array"
                                    }
                                ]
                            }
                        },
                        "Parse_JSON_2":  {
                            "runAfter":  {
                                "Use_Open_Squat_to_get_daily_created_domains":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ParseJson",
                            "inputs":  {
                                "content":  "@body('Use_Open_Squat_to_get_daily_created_domains')",
                                "schema":  {
                                    "properties":  {
                                        "count":  {
                                            "type":  "integer"
                                        },
                                        "domains":  {
                                            "items":  {
                                                "type":  "string"
                                            },
                                            "type":  "array"
                                        },
                                        "keyword":  {
                                            "type":  "string"
                                        },
                                        "response":  {
                                            "type":  "string"
                                        }
                                    },
                                    "type":  "object"
                                }
                            }
                        },
                        "Send_an_email_(V2)":  {
                            "runAfter":  {
                                "Create_HTML_table":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "Body":  "\u003cp\u003e\u003cstrong\u003eDaily Domains TypoSquats by OpenSquat\u003cbr\u003e\n\u003cbr\u003e\n\u003c/strong\u003e\u003cstrong\u003e@{body('Create_HTML_table')}\u003c/strong\u003e\u003cstrong\u003e\u003c/strong\u003e\u003cbr\u003e\n\u003c/p\u003e",
                                    "Importance":  "Normal",
                                    "Subject":  "Daily Domains TypoSquats by OpenSquat",
                                    "To":  "sewasong@microsoft.com"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/v2/Mail"
                            }
                        },
                        "Use_Open_Squat_to_get_daily_created_domains":  {
                            "runAfter":  {
                                "Initialize_summary_":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Http",
                            "inputs":  {
                                "headers":  {
                                    "X-RapidAPI-Host":  "opensquat1.p.rapidapi.com",
                                    "X-RapidAPI-Key":  "9cc0e29fa5msh80534504888484ep136f07jsn13e33092373a"
                                },
                                "method":  "GET",
                                "uri":  "https://opensquat1.p.rapidapi.com/microsoft"
                            }
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "office365":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                                "connectionName":  "[variables('Office365ConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "createddate":  "10/13/2022",
                "owner":  "sewasong",
                "hidden-SentinelTemplateName":  "Typosquat",
                "hidden-SentinelTemplateVersion":  "1.0"
            },
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('Office365ConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('Office365ConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                }
            }
        }
    ]
}
